/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2020, 11:52:51 AM
    Author     : Saif
*/


section[title="detail"] > * {
    margin: 10px 0;
}

section[title="detail"] table {
    margin-left: auto;
    margin-right: auto;
}



.inblock {
    display: inline-block;
}

.inblock:nth-of-type(1){
    width: 20%;
    height: 200px;
    margin-top: 10px;
    border: 1px solid;
}

.inblock:nth-of-type(2){
    width: 50%;
    height: 200px;
    margin-top: 10px;
    border: 1px solid;
}

.inblock:nth-of-type(3){
    width: 15%;
    height: 200px;
    margin-top: 10px;
    border: 1px solid;
}


body {
    counter-reset: serial;
}

.serial::before {
    counter-increment: serial;
    content: counter(serial) ;
}                    



.row img {
    background-color: #e0e0e0;
}

ul.middle {
    text-align: center;
}

section[title="detail"] {
}

form[name="shipAddr"], form[name="billAddr"] {
    margin-left: 40%;
}

form[name="shipAddr"] input {
    
}


.btn button {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}



